<div id="divlink" ng-controller="AdminMenuController"
	style="width: 1200px; height: 20px; float: left; background-color: olive;">
	<a style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-home" href="/admin">Home</a> <a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" href="/viewalerts">View-Alerts</a><a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" href="/alerts">Create-Alerts</a><a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-file" href="#">Report</a>
		<a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" <a href="/Clients">Clients</a> 
		<a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" <a href="/building">Buildings</a> 
		<a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" <a href="/signupguard">CreateGuard</a> 
			<a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" <a href="/assignguard">Assign-Guard</a> 
		<a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" <a href="/editGuardDetails">EditGuard</a>
		<a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-map-marker" href="/ViewClientGuardlocation">View-Client's-Guard-location</a>
</div>