<div id="divHeader"
		style="width: 1200px; height: 70px; float: left; background-color: purple;">
		<h4 id="Welcome" style="color: White; float: left; width: 30%; text-align: left;"></h4>
		<h3 style="color: White; float: left; width: 40%; text-align: center;">Workflow
			Management System</h3>
		<h4 style="color: White; float: left; width: 30%; text-align: center;">
			<a style="color: White;" href="/logout">Signout</a>
		</h4>
	</div>
	