<!DOCTYPE html>
<html ng-app="ClientWFMG">
<meta charset="utf-8" />
<head>
<title>Client</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBDjbLZliNs9c9nqZXy9dGhH2z7BAEui4">
	
</script>
<script data-require="angular.js@1.3.9" data-semver="1.3.9"
	src="https://code.angularjs.org/1.3.9/angular.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
	function initialize(response) {
		debugger
		if (response.data[1][0].TotalGuards >= 1) {
			var mapOptions = {
				center : new google.maps.LatLng(response.data[2][0].PosX,
						response.data[2][0].PosY),
				zoom : 17
			};
			var map = new google.maps.Map(
					document.getElementById('map-canvas'), mapOptions);
			var image = {
				url : 'Images/Guardmarker.jpg'
			};
			for (i = 0; i < response.data[1][0].TotalGuards; i++) {
				var guardname = response.data[2][i].Firstname;
				var myLatlng = new google.maps.LatLng(response.data[2][i].PosX,
						response.data[2][i].PosY);
				var marker = new google.maps.Marker({
					position : myLatlng,
					map : map,
					icon : image,
					animation : google.maps.Animation.BOUNCE,
					title : guardname
				});
			}
		}

	}
</script>
</head>
<body
	style="margin-top: -50px; background-position: center; background-image: url('../Images/building.jpg');">
	<%- include CommonHeader.ejs %> <%- include ClientCommonMenu.ejs %>
	<div id="Body" align="center" ng-controller="MapMenuController"
		style="float: left; width: 1200px; height: 600px; border-style: solid; background-color: white; border-color: black; border-width: thin; vertical-align: top;">
		<div id="map-canvas" style="width: 90%; height: 90%">
			<h4>There are no guards to display</h4>
		</div>
	</div>
</body>
<script>
	var app = angular.module("ClientWFMG", []);
</script>
<script>
	app.controller("ClientMenuController", function($sce, $scope, $http) {

		$('#Welcome').text("Welcome Client");

	});

	app.controller("MapMenuController", function($sce, $scope, $http) {
		$http({
			method : 'POST',
			url : '/guardlocation',
			cache : false

		}).success(function(response) {
			initialize(response);

		}).error(function(error) {
			alert("error")
		});

	});
</script>
</html>