<div id="divlink" ng-controller="GuardMenuController"
	style="width: 1200px; height: 20px; float: left; background-color: olive;">
	<a style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-home" href="#">Home</a> <a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" href="/submitAlert">Submit-Alert</a>
</div>