<!DOCTYPE html>
<html ng-app="AdminWFMG">
<meta charset="utf-8" />
<head>
<title>Workforce Management</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
<script data-require="angular.js@1.3.9" data-semver="1.3.9"
	src="https://code.angularjs.org/1.3.9/angular.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/guard.css">

</head>
<body style="margin-top: -50px; background-position: center;">
	<%- include CommonHeader.ejs %> <%- include AdminCommonMenu.ejs %>

	<br>
	<br>
	<br>
	<br>
	<div ng-app="" ng-controller="signupController">
		<div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<form name="myForm1">
							<label style="margin-top: 20px;"><h1>Create Guard</h1></label>
							<hr>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6 col-md-6">
										<input type="text" name="firstname" ng-model="firstname"
											class="form-control input-lg" placeholder="First Name"
											required />
									</div>
									<div class="col-xs-6 col-md-6">
										<input type="text" name="lastname" ng-model="lastname"
											class="form-control input-lg" placeholder="Last Name"
											required />
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="number" name="ssn" ng-model="ssn"
									class="form-control input-lg " placeholder="SSN Number"
									required />
							</div>
							<div class="form-group">
								<input type="password" name="InputPassword"
									class="form-control input-lg" ng-model="password"
									placeholder="Password (6 or more characters)" ng-minlength="6"
									ng-maxlength="20"
									ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required /><br>
								<span style="color: red"
									ng-show="myForm.InputPassword.$error.required && myForm.InputPassword.$dirty">Please
									enter password</span> <span style="color: red"
									ng-show="!myForm.InputPassword.$error.required && (myForm.InputPassword.$error.minlength || myForm.InputPassword.$error.maxlength) && myForm.InputPassword.$dirty">Password
									must be between 6 and 20 characters.</span> <span style="color: red"
									ng-show="!myForm.InputPassword.$error.required && !myForm.InputPassword.$error.minlength && !myForm.InputPassword.$error.maxlength && myForm.InputPassword.$error.pattern && myForm.InputPassword.$dirty">Must
									contain one lower &amp; uppercase letter, and one non-alpha
									character (a number or a symbol)</span>
							</div>
							<div class="form-group">
								<input type="email" name="email" ng-model="email"
									class="form-control input-lg" placeholder="Email Address"
									required />
							</div>
							<div class="form-group">
								<input type="text" name="address" ng-model="address"
									class="form-control input-lg" placeholder="Address" required />
							</div>
							<div class="form-group">
								<div class="select_style">
									<select name="state" ng-model="state.selected"
										placeholder="State" required>
										<option ng-repeat="state in states"
											value="{{ state.abbreviation }}">{{ state.name }}</option>
										<option value="" selected>--- Select State ---</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-4 col-md-6">
										<input type="text" name="city" ng-model="city"
											class="form-control input-lg" placeholder="City" required />
									</div>

									<div class="col-xs-4 col-md-6">
										<input type="text" name="zip" ng-model="zip"
											class="form-control input-lg" placeholder="Zip Code" required />
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="number" name="phonenumber" ng-model="phonenumber"
									class="form-control input-lg" placeholder="Phone Number"
									required />
							</div>
							<div class="form-group">
								<button type="submit" ng-click="signup()"
									ng-disabled="myForm1.$invalid"
									class="btn btn-default btn-primary button_signin">
									<h4>Create Guard</h4>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script>
		function signupController($scope, $http, $location) {

			$scope.states = [ {
				name : 'ALABAMA',
				abbreviation : 'AL'
			}, {
				name : 'ALASKA',
				abbreviation : 'AK'
			}, {
				name : 'AMERICAN SAMOA',
				abbreviation : 'AS'
			}, {
				name : 'ARIZONA',
				abbreviation : 'AZ'
			}, {
				name : 'ARKANSAS',
				abbreviation : 'AR'
			}, {
				name : 'CALIFORNIA',
				abbreviation : 'CA'
			}, {
				name : 'COLORADO',
				abbreviation : 'CO'
			}, {
				name : 'CONNECTICUT',
				abbreviation : 'CT'
			}, {
				name : 'DELAWARE',
				abbreviation : 'DE'
			}, {
				name : 'DISTRICT OF COLUMBIA',
				abbreviation : 'DC'
			}, {
				name : 'FEDERATED STATES OF MICRONESIA',
				abbreviation : 'FM'
			}, {
				name : 'FLORIDA',
				abbreviation : 'FL'
			}, {
				name : 'GEORGIA',
				abbreviation : 'GA'
			}, {
				name : 'GUAM',
				abbreviation : 'GU'
			}, {
				name : 'HAWAII',
				abbreviation : 'HI'
			}, {
				name : 'IDAHO',
				abbreviation : 'ID'
			}, {
				name : 'ILLINOIS',
				abbreviation : 'IL'
			}, {
				name : 'INDIANA',
				abbreviation : 'IN'
			}, {
				name : 'IOWA',
				abbreviation : 'IA'
			}, {
				name : 'KANSAS',
				abbreviation : 'KS'
			}, {
				name : 'KENTUCKY',
				abbreviation : 'KY'
			}, {
				name : 'LOUISIANA',
				abbreviation : 'LA'
			}, {
				name : 'MAINE',
				abbreviation : 'ME'
			}, {
				name : 'MARSHALL ISLANDS',
				abbreviation : 'MH'
			}, {
				name : 'MARYLAND',
				abbreviation : 'MD'
			}, {
				name : 'MASSACHUSETTS',
				abbreviation : 'MA'
			}, {
				name : 'MICHIGAN',
				abbreviation : 'MI'
			}, {
				name : 'MINNESOTA',
				abbreviation : 'MN'
			}, {
				name : 'MISSISSIPPI',
				abbreviation : 'MS'
			}, {
				name : 'MISSOURI',
				abbreviation : 'MO'
			}, {
				name : 'MONTANA',
				abbreviation : 'MT'
			}, {
				name : 'NEBRASKA',
				abbreviation : 'NE'
			}, {
				name : 'NEVADA',
				abbreviation : 'NV'
			}, {
				name : 'NEW HAMPSHIRE',
				abbreviation : 'NH'
			}, {
				name : 'NEW JERSEY',
				abbreviation : 'NJ'
			}, {
				name : 'NEW MEXICO',
				abbreviation : 'NM'
			}, {
				name : 'NEW YORK',
				abbreviation : 'NY'
			}, {
				name : 'NORTH CAROLINA',
				abbreviation : 'NC'
			}, {
				name : 'NORTH DAKOTA',
				abbreviation : 'ND'
			}, {
				name : 'NORTHERN MARIANA ISLANDS',
				abbreviation : 'MP'
			}, {
				name : 'OHIO',
				abbreviation : 'OH'
			}, {
				name : 'OKLAHOMA',
				abbreviation : 'OK'
			}, {
				name : 'OREGON',
				abbreviation : 'OR'
			}, {
				name : 'PALAU',
				abbreviation : 'PW'
			}, {
				name : 'PENNSYLVANIA',
				abbreviation : 'PA'
			}, {
				name : 'PUERTO RICO',
				abbreviation : 'PR'
			}, {
				name : 'RHODE ISLAND',
				abbreviation : 'RI'
			}, {
				name : 'SOUTH CAROLINA',
				abbreviation : 'SC'
			}, {
				name : 'SOUTH DAKOTA',
				abbreviation : 'SD'
			}, {
				name : 'TENNESSEE',
				abbreviation : 'TN'
			}, {
				name : 'TEXAS',
				abbreviation : 'TX'
			}, {
				name : 'UTAH',
				abbreviation : 'UT'
			}, {
				name : 'VERMONT',
				abbreviation : 'VT'
			}, {
				name : 'VIRGIN ISLANDS',
				abbreviation : 'VI'
			}, {
				name : 'VIRGINIA',
				abbreviation : 'VA'
			}, {
				name : 'WASHINGTON',
				abbreviation : 'WA'
			}, {
				name : 'WEST VIRGINIA',
				abbreviation : 'WV'
			}, {
				name : 'WISCONSIN',
				abbreviation : 'WI'
			}, {
				name : 'WYOMING',
				abbreviation : 'WY'
			} ];
			var validateSSN = function(ssn) {
				var numPattern = /^\d{9}$/;
				if (numPattern.test(ssn)) {
					return true;
				} else {
					return false;
				}
			}

			function ValidateZip(Zip) {
				return /^\d{5}(-\d{4})?$/.test(Zip);
			}

			$scope.signup = function() {

				if (!validateSSN($scope.ssn)) {
					alert('Invalid SSN Number, must be a 9 digit number');
				} else if (!ValidateZip($scope.zip)) {
					alert('Invalid zip code');
				} else if (!ValidatePhone($scope.phonenumber)) {
					alert('Invalid Phone Number');
				} else {
					alert($scope.radiooption);
					$http({
						method : 'POST',
						url : '/aftersignup',
						data : {
							"firstname" : $scope.firstname,
							"lastname" : $scope.lastname,
							"ssn" : $scope.ssn,
							"password" : $scope.password,
							"email" : $scope.email,
							"address" : $scope.address,
							"city" : $scope.city,
							"zip" : $scope.zip,
							"state" : $scope.state.selected,
							"phonenumber" : $scope.phonenumber,
							"type" : 3
						}
					}).success(function(response) {
						$scope.firstname = "";
						$scope.lastname = "";
						$scope.ssn = "";
						$scope.email = "";
						$scope.password = "";
						$scope.address = "";
						$scope.zip = "";
						$scope.city = "";
						$scope.state = "";
						$scope.phonenumber = "";
						$scope.state.selected = "";
						if (response.signup == "Fail") {
							alert('User Already Exists');
							window.location = '/signupguard';
						} else {
							alert("Guard Created Successfully!!!");
						}
					}).error(function(error) {
						alert(error);
					});
				}
			};

			function ValidatePhone(phoneNo) {
				var numPattern = /^\d{10}$/;
				var numPattern1 = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
				var numPattern2 = /^\+?([0-9]{2})\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})$/;
				if (numPattern.test(phoneNo)) {
					return true;
				} else if (numPattern1.test(phoneNo)) {
					return true;
				} else if (numPattern2.test(phoneNo)) {
					return true;
				} else {
					return false;
				}
			}
			;
		}
	</script>
</body>
</html>