<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workforce Management</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/wfm.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-LI-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-LI-navbar-collapse-1">
             <div class="col-md-6">
                <h1 style="color:white;padding-left:10px;">Workforce Management</h1>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-right">
                   <li><a href="/login"><h4 style="padding-top:10px;">Login</h4></a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-left">
                  <li><a href="/home"><h4>Home</h4></a>
                  </li>
                  <li><a href="/contact"><h4>Contact</h4></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-right">
                  <li><a href="/signup"><h4>Register</h4></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>    

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <label style="padding-left:30px;"><strong><h4>Kruthi Venkatesh</h4></strong></label>
          <br>
          <a style="padding-left:30px;" href="">kruthi.venkatesh@sjsu.edu</a>
        </div>
        <div class="col-md-6">
        <label style="padding-left:30px;"><strong><h4>Sudhindra Thangavelu</h4></strong></label> 
        <br>
          <a style="padding-left:30px;" href="">sudhindra.thangavelu@sjsu.edu</a>
        </div>
      </div>
       <div class="row">
         <div class="col-md-6">
         <label style="padding-left:30px;"><strong><h4>Shruti Joshi</h4></strong></label>
         <br>
          <a style="padding-left:30px;" href="">shruti.joshi01@sjsu.edu</a>
         </div>
         <div class="col-md-6">
          <label style="padding-left:30px;"><strong><h4>Navjot Chandrakant Warade</h4></strong></label> 
          <br>
          <a style="padding-left:30px;" href="">navjotchandrakant.warade@sjsu.edu</a>
         </div>
      </div>
       <div class="row">
         <div class="col-md-6">
         <label style="padding-left:30px;"><strong><h4>Nikhila Kambham</h4></strong></label> 
         <br>
          <a style="padding-left:30px;" href="">nikhila.kambham@sjsu.edu</a>
         
         </div>
         <div class="col-md-6">
         <label style="padding-left:30px;"><strong><h4>Deenash Arivazhagan Senthamilselvi</h4></strong></label> 
         <br>
          <a style="padding-left:30px;" href="">deenash.arivazhagansenthamilselvi@sjsu.edu</a>
         </div>
      </div>
    </div>
  </body>
  </html>