<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workforce Management</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/wfm.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-LI-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-LI-navbar-collapse-1">
             <div class="col-md-6">
                <h1 style="color:white;padding-left:10px;">Workforce Management</h1>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-right">
                   <li><a href="/login"><h4 style="padding-top:10px;">Login</h4></a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-left">
                  <li><a href="/home"><h4>Home</h4></a>
                  </li>
                  <li><a href="/contact"><h4>Contact</h4></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="nav navbar-nav header-nav pull-right">
                  <li><a href="/signup"><h4>Register</h4></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>    
    <div class="container">
    <div class="row">
     <div class="col-md-8">
     <h1>Safety is our Motto...</h1>  
    <p><br><br><h3><em>Welcome to Workforce Management System! Security is our motto, and we will work hard to provide that for you. Register with us and we will make sure that your buildings are secure. All our guards are well-trained and experienced. We will appoint the number of guards you need and all incidents will be reported as and when they happen. You can also see where each guard is located at all times at the comfort of your home. All of you have to do is register and we will take care of the rest.
</em></h3><br><br><strong><h4>For registering, make sure you have a valid SSN and a strong password (Uppercase, lowercase, digit, 6-20 character, special character) and you are all set!</h4></strong></p>
</div>
<div class="col-md-4">
<img src="../images/Workforce.png" style="width:100%;">
<br>
<img src="../images/workforce_management.jpg" style="width:100%;">
</div>
</div>
    </div>
  </body>
  </html>